# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [3]:
import pandas as pd
import numpy as np

# Seu código aqui
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
pd.Series(dados)

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [4]:
# seu código aqui
pd.Series(dados, index=['1900', '1920', '1940', '1960', '1980', '2000', '2020'])

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [5]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
pd.Series(dic_temperaturas)

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [7]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui
df = pd.DataFrame(arr)
df

             0           1           2
0   116.963590  103.156413  104.918808
1   103.944847  109.356590  113.042412
2   107.336080   92.890024  110.987911
3    96.778501   95.730069  113.753470
4   101.090627  103.574603   98.532174
5   118.229925  104.148433   99.411648
6   105.106264   99.871600   91.471311
7    84.334645   95.130677  115.055727
8   101.448245  104.192722   98.862505
9    92.512608  119.373283   94.090264
10   89.752887   91.937736  103.775059
11   95.244630  108.465026   85.231663
12   88.036431  114.642373  103.237237
13  103.471053  100.419684  100.532028
14  100.292778  103.185946  100.198504
15  112.226222   84.520346  104.844922
16   94.351785  109.599256  103.284908
17  104.415909  105.797387   93.976914
18  112.811028   95.197151   89.743164
19  102.438987  111.960579  112.685810

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [20]:
#seu código aqui
df = pd.DataFrame(arr, columns = ['x1', 'x2', 'x3'], index=list(range(1, 21)))
df

            x1          x2          x3
1   116.963590  103.156413  104.918808
2   103.944847  109.356590  113.042412
3   107.336080   92.890024  110.987911
4    96.778501   95.730069  113.753470
5   101.090627  103.574603   98.532174
6   118.229925  104.148433   99.411648
7   105.106264   99.871600   91.471311
8    84.334645   95.130677  115.055727
9   101.448245  104.192722   98.862505
10   92.512608  119.373283   94.090264
11   89.752887   91.937736  103.775059
12   95.244630  108.465026   85.231663
13   88.036431  114.642373  103.237237
14  103.471053  100.419684  100.532028
15  100.292778  103.185946  100.198504
16  112.226222   84.520346  104.844922
17   94.351785  109.599256  103.284908
18  104.415909  105.797387   93.976914
19  112.811028   95.197151   89.743164
20  102.438987  111.960579  112.685810

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [22]:
# seu código aqui
df['media'] = (df['x1'] + df['x2'] + df['x3'])/3
df

            x1          x2          x3       media
1   116.963590  103.156413  104.918808  108.346270
2   103.944847  109.356590  113.042412  108.781283
3   107.336080   92.890024  110.987911  103.738005
4    96.778501   95.730069  113.753470  102.087347
5   101.090627  103.574603   98.532174  101.065802
6   118.229925  104.148433   99.411648  107.263336
7   105.106264   99.871600   91.471311   98.816392
8    84.334645   95.130677  115.055727   98.173683
9   101.448245  104.192722   98.862505  101.501158
10   92.512608  119.373283   94.090264  101.992051
11   89.752887   91.937736  103.775059   95.155227
12   95.244630  108.465026   85.231663   96.313773
13   88.036431  114.642373  103.237237  101.972014
14  103.471053  100.419684  100.532028  101.474255
15  100.292778  103.185946  100.198504  101.225743
16  112.226222   84.520346  104.844922  100.530496
17   94.351785  109.599256  103.284908  102.411983
18  104.415909  105.797387   93.976914  101.396737
19  112.811028   95.197151   89.743164   99.250448
20  102.438987  111.960579  112.685810  109.028459

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [24]:
# seu código aqui
df['log_med'] = np.log(df['media'])
df

            x1          x2          x3       media   log_med
1   116.963590  103.156413  104.918808  108.346270  4.685332
2   103.944847  109.356590  113.042412  108.781283  4.689339
3   107.336080   92.890024  110.987911  103.738005  4.641869
4    96.778501   95.730069  113.753470  102.087347  4.625829
5   101.090627  103.574603   98.532174  101.065802  4.615772
6   118.229925  104.148433   99.411648  107.263336  4.675287
7   105.106264   99.871600   91.471311   98.816392  4.593263
8    84.334645   95.130677  115.055727   98.173683  4.586738
9   101.448245  104.192722   98.862505  101.501158  4.620070
10   92.512608  119.373283   94.090264  101.992051  4.624895
11   89.752887   91.937736  103.775059   95.155227  4.555510
12   95.244630  108.465026   85.231663   96.313773  4.567611
13   88.036431  114.642373  103.237237  101.972014  4.624698
14  103.471053  100.419684  100.532028  101.474255  4.619805
15  100.292778  103.185946  100.198504  101.225743  4.617353
16  112.226222   84.520346  104.844922  100.530496  4.610461
17   94.351785  109.599256  103.284908  102.411983  4.629004
18  104.415909  105.797387   93.976914  101.396737  4.619041
19  112.811028   95.197151   89.743164   99.250448  4.597646
20  102.438987  111.960579  112.685810  109.028459  4.691609